body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin: 20px;
}

input[type="file"] {
    display: block;
    margin: 10px auto;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#result {
    display: none;
}

#comparison-result {
    font-size: 24px;
    color: #333;
    margin: 20px;
}
